@import "./bootstrap.scss";

$twinkleBlue: #d1d8e0;

html, body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: $twinkleBlue;
}

.btn {
  display: inline-flex;
  align-items: center;

  svg {
    height: 1rem;
  }
}

.btn-rounded {
  border-radius: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}