@import "./bootstrap.scss";

$twinkleBlue: #d1d8e0;
$darkBlueishGray: #2e2f42;

html, body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: $twinkleBlue;
}

.btn {
  display: inline-flex;
  align-items: center;

  svg {
    height: 1rem;
  }
}

.btn-rounded {
  border-radius: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav.navbar {
  background-color: darken($darkBlueishGray, 3%);
  font-family: 'Nunito', sans-serif;

  .navbar-brand {
    font-weight: bold;
    img {
      @extend .mr-2;
      height: 2.1rem;
    }
  }
}